.Menu {

	&__link {
		display: block;
		padding: ($base-space / 4) (0);
		font-weight: 700;
		text-transform: capitalize;
		color: color(black);
		font-size: map-get($heading-sizes, 5);

		&:hover {
			color: color(red);
		}

		@include bp(large) {
			font-size: map-get($heading-sizes, 6);
		}
	}
}