.App {
	display: flex;
	height: 100vh;
	overflow: hidden;
	background: color(white);

	&__content,
	&__aside {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	&__content {
		flex: 1;
		position: relative;
		background: color(white);
	}

	&__aside {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		padding: ($base-space);
		background: white;
		@include ease();
		will-change: transform;

		// Hide on mobile
		transform: translate3d(100%, 0, 0);

		&--active {
			transform: translate3d(0, 0, 0);
		}
	}

	@include bp(medium) {

		&__aside {
			padding: ($base-space) ($base-space * 2);
		}
	}

	@include bp(large) {

		&__aside {
			position: static;
			height: auto;
			width: 250px;
			transform: none;
		}
	}

	@include bp(large) {

		&__aside {
			width: 300px;
		}
	}
}