.App {
	display: flex;
	height: 100vh;
	overflow: hidden;

	&__content {
		flex: 1;
		overflow-y: scroll;
		position: relative;
		background: color(white);
	}

	&__aside {
		width: 300px;
		padding: ($base-space) ($base-space * 2);
		overflow-y: scroll;
	}
}