.PostList {
	$p: &;

	flex: 1;
	padding: ($base-space * 3) ($base-space * 2);

	&__wrapper {
		max-width: 700px;
		margin: 0 auto;
	}

	&__heading {
		text-transform: capitalize;
		letter-spacing: (-$base-space / 6);
		color: color(black);

		&:first-letter {
			color: color(red);
		}

		a {
			color: inherit;
		}
	}

	&__list {
		list-style-type: none;
		margin: 0 0 $base-space * 2;
	}

	&__item {
		margin-bottom: ($base-space);
	}

	&__link {
		display: flex;
		padding-bottom: ($base-space / 3);
		font-size: map-get($heading-sizes, 5);
		font-weight: 700;
		line-height: $line-height-headings;
		color: color(black);

		&:hover {

			#{$p}__score {
				opacity: 1;
			}
 		}

 		&:visited {
 			color: color(mid-grey);
 			text-decoration: line-through;
 		}
	}

	&__link-text {
		flex: 1;
		@include ease();
	}

	&__score {
		width: 65px;
		padding-right: ($base-space);
		text-align: right;
		@include ease();
	}

	&__button {
		display: inline-block;
		margin-left: 65px;
		padding: ($base-space / 6) ($base-space /2 );
		background: color(light-grey);
		color: color(black);
		font-weight: 700;
		font-size: 65%;
		border-radius: 3px;
		@include ease();

		&:hover {
			background: darken(color(light-grey), 5);
		}
	}

	&__filters {
		margin-bottom: ($base-space * 2);
	}
}