.SubredditSearch {
	display: flex;
	font-weight: 700;

	&__input {
		width: auto;
		border: none;
		border-radius: 0;
		padding: 0;
		min-height: none;
		height: auto;

		&:focus,
		&:active {
			box-shadow: none;
			outline: none;
		}
	}
}