.SubredditSearch {
	display: flex;
	font-weight: 700;

	span,
	&__input {
		font-size: map-get($heading-sizes, 5);
	}

	&__input {
		width: auto;
		border: none;
		border-radius: 0;
		padding: 0;
		min-height: none;
		height: auto;

		&:focus,
		&:active {
			box-shadow: none;
			outline: none;
		}
	}

	@include bp(large) {

		span,
		&__input {
			font-size: map-get($heading-sizes, 6);
		}
	}
}