.Filters {
	// margin-bottom: ($base-space * 2);

	&__button {
		padding: (0) ($base-space / 2) (0) (0);
		color: color(black);
		text-transform: capitalize;
		font-weight: 700;
		@include ease();

		&:hover {
			color: color(red);
		}
	}
}